html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: burlywood;
}

.navbar {
    background-color: transparent !important;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .navbar.alt-color {
    background-color: black !important;
  }

#carrusel{
    margin: auto;
    max-width: max-content;
    padding-left: 0%;
    padding-right: 0%;
}
