html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0;
    background-color: brown;
}

.navbar-brand{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

.navbar {
    background-color: transparent !important;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .navbar.alt-color {
    background-color: black !important;
  }

#carrusel{
    margin: auto;
    max-width: max-content;
    padding-left: 0%;
    padding-right: 0%;
}

.barra{
    width: 100%;
    background-color: cornflowerblue;
    ;
    padding: 5px;
}

#icon{
    text-align: center;
    color: white;
    width: 100%;
    font-size: 30px;
}

.box{
    text-align: justify;
    color: white;
}

.linea{
    width: 80%;
    padding-top: 5;
    color: darkcyan;
    padding: 1px;
}

.card-body{
    background-color: cornflowerblue;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
}

#foot{
    background-color: darkslategrey;
    padding-top: 5px;
}

h4{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
}

#social{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 18px;
}