html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: brown;
}

.navbar {
    background-color: transparent !important;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .navbar.alt-color {
    background-color: black !important;
  }

#carrusel{
    margin: auto;
    max-width: max-content;
    padding-left: 0%;
    padding-right: 0%;
}

#icon{
    text-align: center;
    color: white;
    background-color: aqua;
    width: 100%;
    font-size: 30px;
}

.box{
    text-align: justify;
    color: white;
}

#destacado{
    background-color: cadetblue;
}

.linea{
    width: 80%;
    padding-top: 5;
}